.header{
    height: 10vh;
    display:flex;
    justify-content:space-between;
    align-items: center;
    color: #ccc;
    background-color: #000;
}
.logo{
     display: flex;
     align-items:center;
     width: 8vw;
     margin-left:1vw;
}

.logo img{
    height: 7vh;
    width:4vw;
    margin-right:0.5vw;
}
.logo span{
    font-size:1.2rem;
    font-weight:bold;
}

.drop{
    height:10vh;
    background-color:black;
}
.explore-btn{
    color:#333;
    font-size:1.1rem;
    border-radius:5px;
    background-color:#ddd;
    font-weight:bold;
    display:flex;
    height: 6.5vh;
    width:6rem;
    align-items:center;
    cursor:pointer;
}
.explore-btn:hover{
    background-color:#fff;
    color:black;
}
.explore-btn svg{
    width: 1rem;
    color:black;
    font-weight:bold;
}
.search-bar{
    display:flex;
    align-items:center;
}

.search-bar input{
    height:4vh;
    color:#333;
    width:35vw;
    padding:0.3rem;
    font-size:1.3rem;
    font-weight:bold;
}
.search-bar input:focus{
    outline:none;
}
.search-bar .search-btn{
    position:relative;
    height:5.8vh;
    width:4vw;
}

.search-bar .search-btn svg{
    color: black;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:1.5rem; 
}

.links{
    display:flex;
    align-items:center;
    list-style-type:none;
    margin-right:3rem;

}

.links a{
    display:inline-flex;
    align-items:center;
    background-color:rgb(87, 27, 130);
    height:3vh;
    margin-right:1rem;
    width:6rem;
    padding:0.5rem;
}
.links a span{
    margin-right:0.5rem;
    font-size:1.3rem;
}
.links a svg{
    width:1rem;
}

.links .login{
    width:5rem;
}
